<nav class="navbar navbar-expand-lg bg-primary-subtle border-bottom py-4">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ path('app_home_index') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo Pokédex" class="img-fluid" style="max-width: 150px;">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        Pokédex
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_pokedex_index') }}">Tous les Pokémon</a></li>
                        {% for i in 1..9 %}
                            <li><a class="dropdown-item" href="{{ path('app_pokedex_index', {'generation': i}) }}">Génération {{ i }}</a></li>
                        {% endfor %} </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        Dresseur
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Tous les dresseurs</a></li>
                        <li><a class="dropdown-item" href="">Dresseurs</a></li>
                        <li><a class="dropdown-item" href="">Champions</a></li>
                        <li><a class="dropdown-item" href="">Méchants</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="...">Arène</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="...">Lieu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="...">Tableau des types</a>
                </li>
            </ul>
        </div>
    </div>
</nav>